#root {
  margin: 0 auto;
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  justify-content: center;
  gap:10px;
}

.square {
  width: 30%;
  height: 150px;
  border: 3px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.turns{
  display: flex;
  justify-content: center;
  gap: 70px;
}
.actualTurn{
  background-color: rgb(9, 101, 101);
}
.turns h2{
  font-size: 40px;
  display: block;
  width:50px;
}
.winnerPop-container{
  width: 100vw;
  height: 100vh;
  background-color: #000000e9;
  position: absolute;
  display: block;
  top:0;
  left:0;
}
.winnerPop {
  width: 400px;
  height: 400px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: #0d0e45;
  inset: 0;
  margin: auto;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 50px;
  opacity: 1;
}
button {
  width: 70%;
  background-color: rgb(37, 96, 96);
  margin-bottom: 20px;
}
.isWinner{
  display: block;
}